<div class="animes">
  <div class="large-10 columns">
    <% @search.each do |search| %>
      <div class="small-6 large-2 columns">
        <div class="cover-image">
          <span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover='false' tabindex=1 title="<%= search.searchable.title %>">
            <%= link_to image_tag("",
              data: {
                interchange: "
                [#{search.searchable.cover_image.url(:medium)}, small],
                [#{search.searchable.cover_image.url(:large)}, large]
                "
              }), search.searchable
             %>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>
