<div class="user-profile">
  <div class="header-image">
    <%= image_tag @user.header_image.url(:large) %>
  </div>
  <div class="column row">
    <div class="avatar">
      <%= image_tag(@user.avatar.url(:large)) %>
    </div>
    <div class="username">
      <strong><%= @user.username.upcase %></strong>
    </div>
    <div class="follow-button">
      <button class="primary button">Follow</button>
    </div>
    <div class="anime-list-button">
      <button class="primary button">Anime List</button>
    </div>
    <div class="manga-list-button">
      <button class="primary button">Manga List</button>
    </div>
    <div class="forum-button">
      <button class="primary button">Forum</button>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <h4>Bio</h4>
    </div>
    <div class="medium-4 columns">
      <h4>Some favorite Anime</h4>
    </div>
    <div class="medium-4 columns">

    </div>
  </div>
</div>
