<div class="animes full-width">
  <%= render "facets" %>
  <div class="medium-10 large-10 columns">
    <div class="anime-cover">
      <% @animes.each do |anime| %>
        <div class="small-2 large-2 columns">
          <div class="anime-list">
            <span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover='false' tabindex=1 title="<%= anime.name %>">
              <%= link_to image_tag("",
                data: {
                  interchange: "
                  [#{anime.cover_image.url(:medium)}, small],
                  [#{anime.cover_image.url(:large)}, large]
                  "
                }), anime
               %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
