<div class="micropost-form">
  <%= simple_form_for @micropost do |f| %>
    <%= f.input :content, input_html: { preview: true, rows: 7 }, label: false , placeholder: 'You can use Markdown! YAY!' %>
    <%= f.submit 'Add a post', class: 'button expanded' %>
  <% end %>
</div>
