.anime {
  .header-image {
    background-color: #1b2023;
    img {
      opacity: 0.3;
      width: 100%;
      /* medium screen */
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        height: 400px;
        display: block;
      }
      @media screen and (min-width: 64em) {
        height: 600px;
        max-height: 419px;
      }
    }
  }
  .info {
    .cover-image {
      @media screen and (min-width: 64em) {
        position: relative;
        top: -100px;
      }
    }
    .crunchyroll, .official-site, .wiki {
      @media screen and (min-width: 64em) {
        position: relative;
        top: -90px;
      }
    }
    .favorite, .add-to-list, h4, .reviews {
      @media screen and (min-width: 64em) {
        position: relative;
        top: -97px;
      }
    }
  }
}
