.anime {
  .header-image {
    background-color: #1b2023;
    img {
      opacity: 0.3;
      /* medium screen */
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        width: auto;
        height: auto;
        max-width: 100000px;
        max-height: 450px;
        display: block;
      }
    }
  }
  .cover-image {
    top: -325px;
    position: relative;
    /* small screen */
    @media screen and (max-width: 39.9375em) {
      top: 10px;
      left: 90px;
    }
    /* medium screen */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      top: 140px;
      position: absolute;
    }
  }
  .anime-name {
    h1 {
      /* small screen */
      @media screen and (max-width: 39.9375em) {
        text-align: center;
        margin-top: 15px;
      }
      /* medium screen */
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        top: 150px;
        background-color: gray;
        font-size: 1.9em;
        position: absolute;
      }
    }
  }
  .anime-synopsis {
    p {
      /* small screen */
      @media screen and (max-width: 39.9375em) {
        text-align: center;
      }
      /* medium screen */
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        top: 20px;
        position: relative;
      }
    }
  }
  .anime-info {
    .bar, .white-bar {
      text-align: center;
      /* small screen */
      @media screen and (max-width: 39.9375em) {
        font-size: 1.5em;
      }
      /* small screen */
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        font-size: 1.1em;
      }
    }
    .bar {
      background-color: #33332D;
      color: #ffffff;
    }
    .white-bar {
      background-color: #DADADA;
    }
    p {
      text-align: center;
    }
    h4 {
      text-align: center;
    }
  }
}
