.anime {
  .header-image {
    background-color: #1b2023;
    img {
      /*opacity: 0.3;*/
      width: 100%;
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        height: 400px;
      }
      @media screen and (min-width: 64em) {
        height: 600px;
        max-height: 419px;
      }
    }
  }
  .info {
    .left {
      .crunchyroll {
        background-color: $orange;
        a {
          color: $white;
        }
      }
      .official-site {
        background-color: $black;
        a {
          color: $white;
        }
      }
      .wiki {
        background-color: $green;
        a {
          color: $white;
        }
      }
      .cover-image {
        @media screen and (max-width: 39.9375em) {
          img {
            display: block;
            margin: 0 auto;
          }
        }
        @media screen and (min-width: 40em) {
          position: relative;
          top: -100px;
        }
      }
      .crunchyroll, .official-site, .wiki {
        @media screen and (min-width: 40em) {
          position: relative;
          top: -90px;
        }
      }
    }
    .middle {
      background-color: $white;
      ul.details {
        li {
          padding-right: 10px;
          font-family: ProximaNovaLight;
        }
      }
      .genres {
        a {
          color: $white;
          padding: 5px;
        }
      }
    }
    .right {
      .favorite {
        background-color: $orange;
      }
      .add-to-list {
        background-color: $dark-orange;
      }
      .reviews {
        background-color: $white;
        border: 10px solid $white;
        a, img {
          border-radius: 50%;
        }
        p, a {
          color: $black;
        }
        .read-more {
          color: $orange;
        }
      }
      .favorite, .add-to-list, h4, .write-a-review, .reviews {
        @media screen and (min-width: 40em) {
          position: relative;
          top: -97px;
        }
      }
    }
  }
}
