.animes {
  .off-canvas-content {
    .anime-list {
      margin-bottom: 15px;
      margin-top: 15px;
      .broadcast {
        color: $white;
        position: absolute;
        display: inline-block;
        margin-top: -30px;
        background-color: $black;
      }
    }
  }

  .off-canvas.position-left {
    height: 100%;
    background-color: $black;
    color: $white;
    position: absolute;
    .browse-anime {
      font-family: ProximaNovaRegular;
      h4 {
        text-align: center;
        span {
          font-family: ProximaNovaLight;
        }
      }
      .menu {
        font-size: 1.4em;
        li {
          .accordion {
            background: none;
            border: none;
            .accordion-title {
              font-size: .9em;
              border-bottom: none;
            }
            a {
              background: none;
              &:hover {
                background: none;
              }
            }
          }
          .accordion-content {
            background-color: $dark-gray;
          }
          ul.genre {
            .menu {
              li {
                a {
                  font-size: .5em;
                }
              }
            }
          }
          a {
            color: $white;
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
  }
}
