.anime {
  .header-image {
    background-color: #1b2023;
    img {
      opacity: 0.3;
      /* medium screen */
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        width: auto;
        height: auto;
        max-width: 100000px;
        max-height: 450px;
        display: block;
      }
      @media screen and (min-width: 64em) {
        width: auto;
        height: auto;
        max-width: 100000px;
        max-height: 450px;
        display: block;
      }
    }
  }
  .small-background-color {
    background-color: #DADADA;
  }
  .cover-image {
    /* small screen */
    img {
      @media screen and (max-width: 39.9375em) {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      /* medium and  screen */
      @media screen and (min-width: 40em) {
        position: absolute;
        top: 130px;
      }
    }
  }
  .anime-name {
    h1 {
      /* small screen */
      @media screen and (max-width: 39.9375em) {
        text-align: center;
        margin-top: 15px;
      }
      /* medium screen */
      @media screen and (min-width: 40em) {
        top: 150px;
        background-color: gray;
        font-size: 3em;
        position: absolute;
      }
    }
  }
  .anime-synopsis {
      /* small screen */
    @media screen and (max-width: 39.9375em) {
      text-align: center;
    }
      /* medium screen */
    @media screen and (min-width: 40em) {
    }
  }
  .anime-info {
    .bar, .white-bar, h4 {
      text-align: center;
      /* small screen */
      @media screen and (max-width: 39.9375em) {
        font-size: 1.5em;
      }
      /* small screen */
      @media screen and (min-width: 40em) {
        font-size: 1.1em;
      }
    }
    .bar {
      background-color: #33332D;
      color: #ffffff;
    }
    .white-bar {
      background-color: #DADADA;
    }
    p {
      text-align: center;
    }
  }
}
