.event {
  @media screen and (max-width: 39.9375em) {
    margin-left: -10px;
    margin-right: -10px;
  }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    margin-left: 10px;
    margin-right: -15px;
  }
  @media screen and (min-width: 64em) {
    margin-left: -35px;
    margin-right: -15px;
  }
  .information {
    @media screen and (min-width: 64em) {
      margin-top: 15px;
    }
    .location, .starts-on, .ends-on, .age, .website {
      padding-bottom: 10px;
    }
  }
  .information {
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      margin-left: 80px;
    }
  }
}
