.top-bar {
  background-color: $dark-gray;
  color: $white;
  height: 100px;
  .menu {
    background-color: $dark-gray;
    margin-top: 15px;
    font-size: 1.2em;
    font-family: ProximaNovaLight;
    li {
      a {
        color: $white;
      }
    }
    .title {
      font-size: 1.5em;
    }
  }
  .top-bar-right {
    .menu {
      .avatar {
        img {
          border-radius: 50%;
          margin-top: -10px;
        }
      }
      .username {
        padding-right: 10px;
        font-size: 0.8em;
        .bottom {
          margin-top: -5px;
          font-size: 1em;
        }
      }
    }
  }
}
