.sidebar {
  background-color: #47b8e0;
  height: 100%;
  width: 100px;
  margin-left: -15px;
  position: fixed;
  .menu {
    li, a {
      text-align: center;
      color: #fff;
      margin-bottom: 40px;
      font-family: ProximaNovaBold;
      font-size: 1.1em;
    }
    a {
      img {
        border-radius: 50%;
        position: relative;
        top: 150px;
      }
    }
    .title {
      font-family: ProximaNovaLight;
      margin-top: 5px;
    }
  }
}
