.sidebar {
  background-color: $dark-gray;
  height: 100%;
  width: 100px;
  margin-left: -15px;
  position: fixed;
  border-right: 2px solid #232730;
  .menu {
    li, a {
      text-align: center;
      color: $white;
      margin-bottom: 40px;
      font-family: ProximaNovaBold;
      font-size: 1em;
    }
    a {
      padding-top: 30px;
      padding-bottom: 30px;
      img {
        border-radius: 50%;
        position: relative;
        top: 60px;
      }
    }
    .title {
      font-family: ProximaNovaLight;
      margin-top: 5px;
      color: $white;
    }
  }
}
