.user-profile {
  .header-image {
    background-color: #1b2023;
    img {
      opacity: 0.4;
    }
  }
  .avatar {
    margin-top: -50px;
    img {
      border-radius: 50%;
      position: relative;
    }
  }
  .username {
    padding-left: 10px;
  }
  .follow-button, .anime-list-button,.manga-list-button, .forum-button {
    margin-top: -50px;
    position: relative;
    padding-right: 10px;
  }
}
