@import "foundation_and_overrides";
@import "variables";
@import "font-awesome";
@import "pagedown_bootstrap";
@import "nav";
@import "registration";
@import "login";
@import "users";
@import "animes";
@import "anime";
@import "event";
@import "events";
@import "topics";
@import "topic";
@import "krakatoa-style";


@font-face {
  font-family: 'ProximaNovaRegular';
  // No need any embeded Ruby code here
  src: url('fonts/proximanova-regular') format('opentype');
}

@font-face {
  font-family: 'ProximaNovaLight';
  // No need any embeded Ruby code here
  src: url('fonts/proximanova-light') format('opentype');
}

@font-face {
  font-family: 'ProximaNovaBold';
  // No need any embeded Ruby code here
  src: url('fonts/proximanova-bold') format('opentype');
}
html, body {
  height: 100%;
  width: 100%;
}
.full-width {
  max-width: 100%;
}

.active_class {
  background-color: $red;
}
.active_link {
  color: $white;
}
.off-canvas-content {
  box-shadow: none;
}

.off-canvas.position-left {
  width: 100px;
  height: 100%;
}

@media screen and (min-width: 64em) {
  .position-left.reveal-for-large ~ .off-canvas-content {
    margin-left: 100px;
  }
}
