<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Topics</th>
      <th>Posts</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.title, category %></td>
        <td><%= category.topics.count %></td>
        <td><%= category.topics.includes(:posts).count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
