<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @categories.each do |category| %>
        <td><%= link_to category.title, category %></td>
        <td><%= time_ago_in_words(category.created_at) %> ago</td>
      <% end %>
    </tr>
  </tbody>
</table>
