<div class="categories">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="large-4 columns">
        <div class="category">
          <div class="header">
            <%= link_to image_tag(category.header_image.url(:medium)), category %>
          </div>
          <div class="category-title text-center">
            <%= link_to category.title.capitalize, category %>
          </div>
          <div class="text-center">Topics: <%= category.topics.count %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
