<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.title, category %></td>
        <td><%= time_ago_in_words(category.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
