<%= link_to "New topic", new_category_topic_path(@category), class: 'button' if user_signed_in? %>
<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.title, topic %></td>
      <td><%= time_ago_in_words(topic.created_at) %> ago</td>
    </tr>
    <% end %>
  </tbody>
</table>
